@import url("https://fonts.google.com/share?selection.family=Dosis:wght@200;300;400;500;600;700;800");

body {
    height: 100vh;
    background: linear-gradient(white 0%, #e2f245 50%, #ffbf68 100%) no-repeat;
}

.dark body {
    height: 100vh;
    background: linear-gradient(black 0%, #2e1035 50%, #8d32a3 100%) no-repeat;
}

.wrapper {
    display: flex;
    flex-direction: column;
    grid-gap: 200px;
    padding: 100px 0;
    max-width: 1920px;
    margin: 0 auto;
}

header {
    display: flex;
    margin: 0 auto 100px;
    justify-content: space-between;
    max-width: 1720px;
    padding: 80px 100px;
}

@media (max-width: 1024px) {
    header {
        padding: 60px 70px;
    }
}

@media (max-width: 768px) {
    header {
        padding: 40px 35px;
    }
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
    }
}

.gradient {
    height: 150px !important;
    width: 150px !important;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: relative;
    background: linear-gradient(
        149deg,
        rgb(108, 157, 148) 0%,
        rgb(102, 115, 196) 42%,
        rgb(194, 137, 181) 72%,
        rgb(229, 228, 145) 100%
    );
    animation: gradient 10s infinite linear;
    background-size: 400%;
}

@media (max-width: 480px) {
    .gradient {
        margin-bottom: 50px;
        align-self: center;
    }
}

@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}

.logo {
    max-width: 150px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.path-logo {
    fill: lightyellow;
}

.dark .path-logo {
    fill: black;
}

.header-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    grid-gap: 30px;
    padding: 0;
}

@media (max-width: 480px) {
    .header-list {
        flex-direction: column;
        align-self: end;
    }
}

.header-list__item {
    display: flex;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: max-content;
}

@media (max-width: 768px) {
    .header-list__item {
        border: 4px solid #a66e22;
        padding: 10px;
        border-radius: 20px;
    }
    .dark .header-list__item {
        border: 4px solid #c0b7ff;
        padding: 10px;
        border-radius: 20px;
    }
}

.header-button {
    color: #a66e22;
    border: 4px solid #a66e22;
    font-size: 2.5em;
    padding: 10px;
    border-radius: 20px;
    transition: all 1s;
}

.header-button:hover {
    cursor: pointer;
    color: #a64922;
    border: 4px solid #a64922;
}

.header-button:active {
    cursor: pointer;
    color: #bf9b57;
    border: 4px solid #bf9b57;
}

.dark .header-button {
    color: #c0b7ff;
    color: #c0b7ff;
    border: 4px solid #c0b7ff;
    font-size: 2.5em;
    padding: 10px;
    border-radius: 20px;
    transition: all 1s;
}

.dark .header-button:hover {
    cursor: pointer;
    color: #a99cff;
    border: 4px solid #a99cff;
}

.dark .header-button:active {
    cursor: pointer;
    color: #8983af;
    border: 4px solid #8983af;
}

@media (max-width: 1024px) {
    .header-button {
        font-size: 1.5em;
    }
    .dark .header-button {
        font-size: 1.5em;
    }
}

@media (max-width: 768px) {
    .header-button {
        display: none;
    }
    .dark .header-button {
        display: none;
    }
}

.material-symbols-outlined {
    font-size: 2.5em !important;
    color: #a66e22;
}

.dark .material-symbols-outlined {
    font-size: 2.5em !important;
    color: #c0b7ff;
}

.face-clock {
    display: flex;
    max-width: 1920px;
    grid-gap: 7%;
    color: grey;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .face-clock {
        flex-direction: column;
        grid-gap: 60px;
    }
}

.face-clock__circle {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face-clock__circle svg {
    position: relative;
    width: 200px;
    height: 200px;
    transform: rotate(270deg);
}

.face-clock__circle svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: #ffbf68;
    stroke-width: 10;
    transform: translate(5px, 5px);
    transition: all 1s;
}

.dark .face-clock__circle svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: #6c3196;
    stroke-width: 10;
    transform: translate(5px, 5px);
    transition: all 1s;
}

.face-clock__circle svg circle:nth-child(2) {
    stroke: var(--clr);
    stroke-dasharray: 600;
}

.face-clock__circle div {
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 3.5em;
}

.face-clock__circle div span {
    position: absolute;
    transform: translate(-50%, 50%);
    font-size: 0.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.face-clock__ap {
    position: relative;
    font-size: 30px;
    transform: translate(-20px, -100px);
    cursor: default;
}

@media (max-width: 1024px) {
    .face-clock__ap {
        margin-top: -750px;
        margin-left: 300px;
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .face-clock__ap {
        margin-left: 200px;
    }
}

.dots {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.dots::before {
    content: "";
    position: absolute;
    top: -10px;
    width: 30px;
    height: 30px;
    background: var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 40px var(--clr), 0 0 80px var(--clr);
}
